@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Darumadrop+One&display=swap');


body {
    background-color: #000000;
    margin: 0;
    padding: 0;
}

.descricao {
    display: flex;
    align-items: center;


}

.titulo {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2.8em;
    color: #ffffff;
    display: flex;
    margin-top: 20px;
    margin-left: 400px;
    margin-bottom: 70px;

}

.img-marioCegonha {
    position: absolute;
    top: 7%;
    left: 1230px;
    height: 110px;
    width: 190px;
    z-index: 1;
}

.booDeOculos {
    position: absolute;
    top: 140%;
    left: 700px;
    height: 90px;
    width: 90px;
    z-index: 1;
}

.boo1 {
    position: absolute;
    top: 10%;
    left: 700px;
    height: 100px;
    width: 100px;
    z-index: 1;
}

/* Estilo para o container que envolve as imagens */
.container {
    position: relative;
    display: inline-block;
}



.img_bolhas {
    position: relative;
    display: flex;
    height: 400px;
    width: 800px;
    margin-left: 40%;
    margin-top: 11%;
    z-index: 0;
}

.img_yosh1 {
    position: absolute;
    top: 0;
    left: 350px;
    height: 100px;
    width: 120px;
    z-index: 1;

}

.yosh2 {
    position: absolute;
    top: 17%;
    left: 900px;
    height: 90px;
    width: 150px;
    z-index: 1;

}

.img_yosh3 {
    position: absolute;
    top: 500px;
    left: 700px;
    width: 100px;
    height: 220px;
    z-index: 1;

}

.urso {
    position: absolute;
    top: 102%;
    left: 39%;
    width: 230px;
    height: 190px;
    z-index: -1;

}

.booDentuco {
    position: absolute;
    top: 100%;
    left: 500px;
    height: 90px;
    width: 120px;
    z-index: 1;
}


.img_pacMan {
    position: absolute;
    top: 143%;
    left: 156%;
    width: 260px;
    height: 40px;
    z-index: 1;

}


.kopasNaXicara {
    position: absolute;
    top: 150%;
    left: 70%;
    width: 170px;
    height: 140px;
    z-index: 1;
}

.cenario3 {
    position: absolute;
    top: 240%;
    left: 0px;
    width: 1500px;
    height: 310px;
    z-index: 1;



}

.nuvens {
    position: absolute;
    top: 1700px;
    left: 1000px;
    width: 508px;
    height: 200px;
    z-index: 1;
}

.cenarioInvertido {
    position: absolute;
    top: 269%;
    left: 590px;
    width: 1080px;
    height: 75px;
    z-index: 1;

}

.cenario1 {
    position: absolute;
    top: 160%;
    left: 0px;
    width: 800px;
    height: 300px;
    z-index: 1;

}

.peachTunel {
    position: absolute;
    top: 1180px;
    left: 560px;
    width: 100px;
    height: 150px;
    z-index: -1;
}

.planta1 {
    position: absolute;
    top: 1220px;
    left: 500px;
    width: 50px;
    height: 120px;
    z-index: 1;
}

.bruxinhaAzul {
    position: absolute;
    top: 1416px;
    left: 470px;
    width: 70px;
    height: 90px;
    z-index: 1;
}

.yoshCagao {
    position: absolute;
    top: 1490px;
    left: 44%;
    width: 120px;
    height: 100px;
    z-index: 1;
}


.cong {
    position: absolute;
    top: 1900px;
    left: 450px;
    width: 70px;
    height: 80px;
    z-index: 1;
}

.casteloBranco {
    position: absolute;
    top: 1650px;
    left: 1140px;
    width: 100px;
    height: 110px;
    z-index: -1;
}

.familia {
    position: absolute;
    top: 90%;
    left: 1300px;
    width: 170px;
    height: 110px;
    z-index: 1;
}

.yoshAzul {
    position: absolute;
    top: 1910px;
    left: 530px;
    width: 70px;
    height: 80px;
    z-index: 1;
}

.yoshComOvos {
    position: absolute;
    top: 200%;
    left: 700px;
    width: 150px;
    height: 80px;
    z-index: 1;
}

.comeCome {
    position: absolute;
    top: 192%;
    left: 800px;
    width: 220px;
    height: 220px;
    z-index: 1;
}

.marioVoando {
    position: absolute;
    top: 219%;
    left: 35%;
    width: 100px;
    height: 80px;
    z-index: 1;
}

.caixaVoando {
    position: absolute;
    top: 240%;
    left: 75%;
    width: 90px;
    height: 60px;
    z-index: 1;
}

.luige {
    position: absolute;
    top: 215%;
    left: 15%;
    width: 90px;
    height: 80px;
    z-index: 1;
}

.caixa {
    position: absolute;
    top: 245%;
    left: 92%;
    width: 50px;
    height: 40px;
    z-index: 1;
}



.caixaAmarelaLaranja {
    position: absolute;
    top: 1440px;
    left: 170px;
    width: 70px;
    height: 80px;
    z-index: 1;

}




.kopasOculos {
    position: absolute;
    top: 1360px;
    left: 160px;
    width: 80px;
    height: 90px;
    z-index: 1;
}

.kopasAzul {
    position: absolute;
    top: 1500px;
    left: 240px;

    width: 80px;
    height: 90px;
    z-index: 1;

}

.kopasColorido {
    position: absolute;
    top: 1500px;
    left: 70px;
    width: 90px;
    height: 90px;
    z-index: 1;
}

.kopas {
    position: absolute;
    top: 1500px;
    left: 22%;
    width: 90px;
    height: 100px;
    z-index: 1;
}

.kopasTunelParede {
    position: absolute;
    top: 1200px;
    left: 0px;
    width: 90px;
    height: 120px;
    z-index: 1;
}

.esqueletoPeixe {
    position: absolute;
    top: 1300px;
    left: 300px;
    width: 60px;
    height: 70px;
    z-index: 1;
}

.estrela {
    position: absolute;
    top: 250%;
    left: 2%;
    width: 70px;
    height: 90px;
    z-index: 1;

}

.estrelaColorida {

    position: absolute;
    top: 240%;
    left: 650px;
    width: 80px;
    height: 70px;
    z-index: 1;
}

.estrelaFofa {

    position: absolute;
    top: 220%;
    left: 50%;
    width: 60px;
    height: 60px;
    z-index: 1;
}

.ourico {
    position: absolute;
    top: 265%;
    left: 53%;
    width: 70px;
    height: 60px;
    z-index: 1;
}


.cactus {
    position: absolute;
    top: 256%;
    left: 750px;
    width: 80px;
    height: 160px;
    z-index: 1;
}


.florDeFogoNaCaixa {
    position: absolute;
    top: 1900px;
    left: 45%;
    width: 70px;
    height: 80px;
    z-index: 1;
}

.florDeFogo {
    position: absolute;
    top: 268%;
    left: 82%;
    width: 40px;
    height: 60px;
    z-index: 1;
}


.mlPegandoVida {
    position: absolute;
    top: 243%;
    left: 55%;
    width: 110px;
    height: 150px;
    z-index: 1;
}

.goonbas {
    position: absolute;
    top: 257%;
    left: 23%;
    width: 70px;
    height: 70px;
    z-index: 1;
}

.dory {
    position: absolute;
    top: 1750px;
    left: 92%;
    width: 70px;
    height: 80px;
    z-index: 1;
}

.kirby {
    position: absolute;
    top: 1800px;
    left: 65%;
    width: 60px;
    height: 70px;
    z-index: 1;
}

.estrelaColorida2 {
    position: absolute;
    top: 190%;
    left: 65%;
    width: 60px;
    height: 60px;
    z-index: 1;
}

.bruxinhaVassoura {
    position: absolute;
    top: 1740px;
    left: 60%;
    width: 70px;
    height: 88px;
    z-index: 1;
}

.shygui {
    position: absolute;
    top: 225%;
    left: 70%;
    width: 60px;
    height: 80px;
    z-index: 1;
}

.kirly1 {
    position: absolute;
    top: 258%;
    left: 72%;
    width: 70px;
    height: 60px;
    z-index: 1;
}

.toad {
    position: absolute;
    top: 236%;
    left: 91%;
    width: 65px;
    height: 80px;
    z-index: 1;
}

.toadVovo {
    position: absolute;
    top: 1750px;
    left: 75%;
    width: 70px;
    height: 90px;
    z-index: 1;
}

.plantaPiranha {
    position: absolute;
    top: 265%;
    left: 27%;
    width: 90px;
    height: 90px;
    z-index: 1;
}

.plantaPiranhaTunel {
    position: absolute;
    top: 2170px;
    left: 94%;
    width: 70px;
    height: 90px;
    z-index: 1;
}

.yoshAzulOvo {
    position: absolute;
    top: 252%;
    left: 160px;
    width: 58px;
    height: 70px;
    z-index: 1;

}

.yoshVerdeOvo {
    position: absolute;
    top: 252%;
    left: 230px;
    width: 55px;
    height: 65px;
    z-index: 1;
}

.yoshPensando {
    position: absolute;
    top: 248%;
    left: 1459px;
    width: 70px;
    height: 70px;
    z-index: 1;
}

.peach {
    position: absolute;
    top: 254%;
    left: 1400px;
    width: 70px;
    height: 90px;
    z-index: 1;
}




.marioPeach {
    position: absolute;
    top: 120%;
    left: 15%;
    width: 130px;
    height: 110px;
    z-index: 1;
}

.familiaBaby {
    position: absolute;
    top: 200%;
    left: 1310px;
    width: 120px;
    height: 100px;
    z-index: 1;
}

.laktuby {
    position: absolute;
    top: 205%;
    left: 24%;
    width: 100px;
    height: 90px;
    z-index: 1;
}

.bixinhoComSemafaro {
    position: absolute;
    top: 165%;
    left: 92%;
    width: 120px;
    height: 120px;
    z-index: 1;
}

.kopasTunelChao {
    position: absolute;
    top: 200%;
    left: 2%;
    width: 120px;
    height: 100px;
    z-index: 1;
}

.chave {
    position: absolute;
    top: 234%;
    left: 82%;
    width: 110px;
    height: 20px;
    z-index: 1;
}

.cenaCavaloMarinho {
    position: absolute;
    top: 235%;
    left: 0px;
    width: 300px;
    height: 330px;
    z-index: 1;
}

.marioTrampolin {
    position: absolute;
    top: 259%;
    left: 35%;

    width: 140px;
    height: 120px;
    z-index: 1;
}

.bocuda {
    position: absolute;
    top: 262%;
    left: 64%;
    width: 140px;
    height: 110px;
    z-index: 1;
}



.pacman {
    position: absolute;
    top: 230%;
    left: 2%;
    width: 180px;
    height: 120px;
    z-index: 1;
}

.gary {
    position: absolute;
    top: 147%;
    left: 52%;
    width: 130px;
    height: 110px;
    z-index: 1;

}

.pacManBrigando {
    position: absolute;
    top: 167%;
    left: 32%;
    width: 250px;
    height: 210px;
    z-index: -1;

}

.pacManF {
    position: absolute;
    top: 129%;
    left: 10%;
    width: 300px;
    height: 170px;
    z-index: -1;
}

.pacmanAmarelo {
    position: absolute;
    top: 157%;
    left: 50%;
    width: 190px;
    height: 170px;
    z-index: -1;
}

.pacmanNaFaixa {
    position: absolute;
    top: 180%;
    left: 80%;
    width: 190px;
    height: 100px;
    z-index: 1;
}

.kopasFogo {
    position: absolute;
    top: 110%;
    left: 50%;
    width: 300px;
    height: 170px;
    z-index: -1;
}

.javascript {


    position: absolute;
    top: 27%;
    left: 256px;
    width: 300px;
    height: 60px;
    z-index: 1;

}

.typescript {
    position: absolute;
    top: 44%;
    left: 52%;
    width: 280px;
    height: 65px;
    z-index: 1;
}

.html {
    position: absolute;
    top: 52%;
    left: 265px;
    width: 300px;
    height: 60px;

    z-index: 1;

}

.css {
    position: absolute;
    top: 63%;
    left: 350px;
    width: 300px;
    height: 60px;
    z-index: 1;

}

.figma {
    position: absolute;
    top: 84%;
    left: 108%;
    width: 100px;
    height: 60px;
    z-index: 1;

}

.git {

    position: absolute;
    top: 21%;
    left: 465px;
    width: 350px;
    height: 65px;
    z-index: 1;

}

.github {
    position: absolute;
    top: 60%;
    left: 77%;
    width: 80px;
    height: 60px;
    z-index: 1;



}

.mysql {
    position: absolute;
    top: 18%;
    left: 810px;
    width: 80px;
    height: 80px;
    z-index: 1;
}

.react {
    position: absolute;
    top: 90%;
    left: 750px;
    width: 100px;
    height: 60px;
    z-index: 1;

}

.nodejs {
    position: absolute;
    top: 1%;
    left: 280px;
    width: 550px;
    height: 120px;
    z-index: 1;

}

.angularjs {
    position: absolute;
    top: 60%;
    left: 125%;
    width: 70px;
    height: 70px;
    z-index: 1;

}

.python {
    position: absolute;
    top: 42%;
    left: 650px;
    width: 300px;
    height: 70px;
    z-index: 1;
}

.linux {
    position: absolute;
    top: 47%;
    left: 110%;
    width: 95px;
    height: 90px;
    z-index: 1;

}

.arduino {
    position: absolute;
    top: 75%;
    left: 128%;
    z-index: 1;
    width: 80px;
    height: 90px;
}


.c {
    position: absolute;
    top: 31%;
    left: 130%;
    width: 85px;
    height: 80px;
    z-index: 1;
}